django
django-celery-beat
django-celery-results
pillow
celery
flower
stripe
python-dotenv
django-rosetta
django-modeltranslation
django-localflavor
django-ckeditor
django-crispy-forms
django-js-asset
django-jazzmin
