{% extends 'base.html' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
<div class="mt-5">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ product.name }}</h2>
        <h2>
          <strong class="d-inline-block mb-2 text-success">${{ product.price }}</strong>
        </h2>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
          Quantity
          {{ cart_product_form.quantity }}
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-success">add to cart</button>
        </form>
        <p class="lead">
          {{ product.description|linebreaks }}
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{ product.image.url }}" alt="img"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>
  </div>
</div>
{% if recommended_products %}
<div class="recommendations">
  <h3>People who bought this also bought</h3>
  {% for p in recommended_products %}
  <div class="item">
    <a href="{{ p.get_absolute_url }}">
      <img src="{{ p.image.url }}">
    </a>
    <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}