{% extends 'base.html' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
<div class="mt-5">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">{{ product.name }}</h2>
              <h2>           
                <strong class="d-inline-block mb-2 text-success">${{ product.price }}</strong>
              </h2>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                Quantity
                {{ cart_product_form.quantity }}
                {% csrf_token %}
                  <button type="submit" class="btn btn-outline-success">add to cart</button>
              </form>
              <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="{{ product.image.url }}" alt="img" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" >
            </div>
          </div>
    </div>
</div>

{% endblock %}